xeger>=0.3.4
faker==0.8.16
pika==0.12.0
pytest==5.3.2
xlrd==1.1.0
elasticsearch>=5.4.0
elasticsearch6
xlwt>=1.2.0
jsonschema>=2.6.0
requests>=2.18.4
pytest-reportportal==1.0.9
reportportal-client==3.2.3
aiohttp
arrow
cx-Oracle>=7.2.3
mysql-connector-python>=8.0.18
PyMySQL>=0.9.1
python-json-logger>=0.1.9
simplejson>=3.16.0
redis>=2.10.6
psycopg2>=2.8.4
SQLAlchemy==1.3.13
grpcio==1.27.2
grpcio-tools==1.27.2
protobuf==3.11.3
jsonpath==0.82
requests-toolbelt==0.9.1
locust==1.1.1